@use "../abstract/colors";
@use "../mixins/breakpoints";

.form {
    background-color: colors.$text;
    position: relative;
    margin-top: 2rem;
    &__inner {
        position: relative;
        top: -4rem;
    }
    &__top {
        background-image: url("../images/bg-shorten-desktop.svg");
        background-position: center;
        background-size: cover;
        background-color: colors.$purple-dark;
        padding: 3rem 4rem;
        border-radius: 0.7rem;
    }
    &__element {
    }
    &__field {
        width: 100%;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.25rem;
        margin-right: 1.3rem;
        border: 0;
        border-radius: 0.625rem;
    }
    &__button {
        padding: 1rem 3rem;
        border-radius: 0.625rem;
        background-color: colors.$primary;
        font-size: 1.25rem;
        font-weight: bold;
        border: 0;
        color: colors.$light;
    }
    &__list {
        margin-top: 1rem;
        list-style-type: none;
    }
    &__item {
        background-color: colors.$light;
        margin-bottom: 1rem;
        padding: 1rem 1.375rem;
        border-radius: 0.4rem;
        @include breakpoints.laptop {
            display: flex;
            justify-content: space-between;
        }
    }
}
